<% content_for :title do %>About<% end %>

<div class="page">
  <div class="page-header-wrapper">
    <div class="page-header">
      <h1>About</h1>
    </div>
  </div>
  <div class="page-message-wrapper">
    <div class="page-message">
      <br>
      <p>Online Ruby practice sessions with an in-browser REPL.</p>
      <br>
      <p>i k e z u e ( a | t ) g _ m a i l</p>
      <br>
      <p>Credits:</p>
      <p><a href="https://github.com/mruby/mruby">mruby</a></p>
      <p><a href="https://github.com/xxuejie/webruby">webruby</a></p>
      <p><a href="https://github.com/ajaxorg/ace">Ace</a></p>
      <p><a href="https://github.com/joshnuss/mruby-web-irb">mruby-web-irb</a></p>
    </div>
  </div>
</div>
