<% content_for :title do %>Contact<% end %>

<div class="page">
  <div class="page-header-wrapper">
    <div class="page-header">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="page-message-wrapper">
    <div class="page-message">
      <br>
      <p>i k e z u e ( a | t ) g _ m a i l</p>
      <br>
    </div>
  </div>
</div>
