<% content_for :title do %>Home<% end %>

<div class="feedback-wrapper">
  <div class="feedback">
    <div class="item">
      <h1>Welcome to RubySpace</h1>
    </div>
  </div>
</div>

<div class="editor-wrapper">
  <div class="problem">

  </div>
  <div class="attempts">

  </div>
  <div class="answer">
    <span class="prompt">&gt;&gt;</span>
    <div id="editor">
    </div>
  </div>
</div>
