@import "foundation";
@import "compass/css3";

$tomorrow-night-background: #1d1f21;
$output-background: $tomorrow-night-background;
$editor-background: $tomorrow-night-background;
$top-bar-background: $tomorrow-night-background;
$heroku-dark-purple: #1a1a23;
$heroku-light-purple: #464268;
$correct-output-text: #b5d045;
$wrong-output-text: #e3557d;
$input-prompt-color: #b2d9d6;;
$output-prompt-color: #b5a6d3;
$code-font-size: 18px;

@mixin code-font {
  font: {
    size: $code-font-size;
    family: Menlo, Monaco, Inconsolata, Courier;
  }
}

@mixin code-font-family {
  font: {
    family: Menlo, Monaco, Inconsolata, Courier;
  }
}

// override for the 'Home' navigation link
.top-bar {
  background-color: $heroku-light-purple;
  .logo {
    line-height: 45px;
    a {
      @include code-font-family();
      color: darken(white, 6%);
      padding: 0 15px;
      font-size: 1.2em;
    }
  }
  .nav-link {
    a {
      @include code-font-family();
      color: darken(white, 10%);
      font-size: 1.1em;
    }
  }
}

@mixin prompt {
  padding-left: 45px;
  padding-right: 0;
  display: block;
  font-weight: bold;
}

body {
  background-color: $heroku-dark-purple;
}

.hidden {
  display: none;
}

.ace_sb {
  overflow-y: hidden !important;
}

.correct-output {
  color: $correct-output-text;
}
.wrong-output {
  color: $wrong-output-text;
}

main {
  .messages {
    @include grid-row();
    .alert-box {
      @include grid-column(12);
    }
  }

  .content {
    @include grid-row();
    .welcome {
      @include grid-column(12);
      .welcome-header-wrapper {
        @include grid-row();
        margin-top: 3em;
        .welcome-header {
          @include grid-column($columns:8, $offset:2);
          h1 {
            @include code-font();
            font-size: 2.5em;
            font-style: bold;
            text-align: left;
            color: white;
          }
        }
      }
      .welcome-message-wrapper {
        @include grid-row();
        margin-top: 1em;
        .welcome-message {
          @include grid-column($columns:8, $offset:2);
          p {
            @include code-font();
            font-size: 1.2em;
            color: white;
          }
        }
      }
    }
    .editor-wrapper {
      @include grid-column(12);
      @include code-font();
      line-height: 22px;
      background-color: $editor-background;
      padding: 4em 0;
      @include border-radius(10px);
      .problem {
        @include grid-row();
        margin-bottom: 1em;
        .question-text {
          @include grid-row();
          .question {
            @include grid-column(12);
            padding-left: 2.5em;
            color: white;
            height: 30px;
          }
        }
        .question-code {
          @include grid-row();
          .prompt {
            @include grid-column(1);
            @include prompt();
            color: white;
          }
          .viewer {
            @include grid-column(11);
            @include code-font();
            line-height: $code-font-size + 3;
            height: 30px;
          }
        }
      }
      .attempts {
        @include grid-row();
        .attempt {
          @include grid-column(12);
          .input {
            @include grid-row();
            .prompt {
              @include grid-column(1);
              @include prompt();
              color: $input-prompt-color;
            }
            .viewer {
              @include grid-column(11);
              @include code-font();
              line-height: $code-font-size + 3;
              height: 30px;
            }
          }
          .output {
            @include grid-row();
            .prompt {
              @include grid-column(1);
              @include prompt();
              color: $output-prompt-color;
            }
            .result {
              @include grid-column(11);
              padding-left: 4px;
              height: 30px;
            }
          }
        }
      }
      .answer {
        @include grid-row();
        padding: 0 15px;
        .prompt {
          @include grid-column(1);
          @include prompt();
          color: $input-prompt-color;
        }
        #editor {
          @include grid-column(11);
          @include code-font();
          line-height: $code-font-size + 3;
          height: 40px;
        }
      }
    }
  }
}

.debug_dump {
  @include grid-column(12);
  font-size: 16px;
  color: $input-prompt-color;
  margin-top: 4em;
  padding: 0;
}
