@import "foundation";
@import "compass/css3";

// override for the 'Home' navigation link
.top-bar .logo {
  font-size: rem-calc(13);
  line-height: 45px;
}

.top-bar .logo a {
  font-weight: normal;
  color: pink;
  padding: 0 15px;
}

$tomorrow-night-background: #1d1f21;
$output-background: $tomorrow-night-background;
$editor-background: $tomorrow-night-background;
$correct-output-text: #b5d045;
$wrong-output-text: #e3557d;

body {
  background-color: mediumslateblue;
}

.correct-output {
  color: $correct-output-text;
}
.wrong-output {
  color: $wrong-output-text;
}

main {
  .messages {
    @include grid-row();
    .alert-box {
      @include grid-column(12);
    }
  }

  .content {
    @include grid-row();
    .feedback-wrapper {
      @include grid-column(12);
      .feedback {
        @include grid-row();
        text-align: center;
        margin: 2em 0;
        background-color: yellow;
        @include border-radius(10px);
        .item {
          @include grid-column(12);
        }
      }
    }
    .editor-wrapper {
      @include grid-column(12);
      .problem {
        @include grid-row();
      }
      .attempts {
        @include grid-row();
        .attempt {
          @include grid-column(12);
          .input {
            @include grid-row();
            .prompt {
              @include grid-column(1);
              background-color: yellow;
            }
            .viewer {
              @include grid-column(11);
              height: 30px;
            }
          }
          .output {
            @include grid-row();
            .prompt {
              @include grid-column(1);
              background-color: red;
            }
            .result {
              @include grid-column(11);
              height: 30px;
              background-color: $output-background;
            }
          }
        }
      }
      .answer {
        @include grid-row();
        padding: 0 15px;
        background-color: pink;
        @include border-radius(10px);
        .prompt {
          @include grid-column(1);
          background-color: white;
        }
        #editor {
          @include grid-column(11);
          height:100px;
        }
      }
    }
  }
}
