@import "foundation";

// override for the 'Home' navigation link
.top-bar .logo {
  font-size: rem-calc(13);
  line-height: 45px;
}

.top-bar .logo a {
  font-weight: normal;
  color: pink;
  padding: 0 15px;
}

body {
  background-color: mediumslateblue;
}

main {
  .messages {
    @include grid-row();
    .alert-box {
      @include grid-column(12);
    }
  }

  .content {
    @include grid-row();
    .feedback-wrapper {
      @include grid-column(12);
      .feedback {
        @include grid-row();
        text-align: center;
        margin-top: 0.5em;
        background-color: yellow;
        .item {
          @include grid-column(12);
        }
      }
    }
    .editor-wrapper {
      @include grid-column(12);
      .editor {
        @include grid-row();
        margin-top: 0.5em;
        background-color: pink;
        .item {
          @include grid-column(12);
        }
      }
    }
  }
}
